src/main/resources/conf/fileconfig.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="config">
 <xs:complexType>
  <xs:sequence>
   <xs:element name="filePath1" type="xs:string"/>
   <xs:element name="filePath2" type="xs:string"/>
   <xs:element name="element">
    <xs:complexType>
     <xs:sequence>
      	<xs:element name="attribute" type="xs:string"  minOccurs="0"/>
     </xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
   </xs:element>
   <xs:element name="resultPath" type="xs:string"/>
   </xs:sequence>
   </xs:complexType>
   </xs:element>
</xs:schema>